header {
    background-color: rgba(185, 198, 216, 0.95);
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 5px;
    padding: 1px;
}

header nav {
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
};
